body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #00d2ff 0%, #3a7bd5 100%);
}

.tabla{
    width: 700px;
    height: 350px;
    border-collapse: collapse;
    background-color: rgba(46, 46, 46, 0.952);
    border-radius: 40px 0 40px 0;
    font-family: monospace;
    box-shadow: 0 0 40px rgba(49, 49, 49, 0.932);
    color: #ffffffdc;
}

.thead{
    border-bottom: 2px solid #ececec85;
}

.tr-head{
    font-size: 20px;
}

.th-head:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #292828;
}

.tr-body{
    font-size: 15px;
    text-align: center;
}

.tr-body > td {
    border-bottom: 2px solid #ececec85;
}

.tbody tr:last-child td{
    border-bottom: none;
}

.tbody tr td:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #292828;

}

.filaResaltada{
    background-color: #7f91f7;
    font-size: 20px;
}

.columnaResaltada{
    color: #292828;
    background-color: #ffffff;
}

.columnaResaltada:first-child{
    color: #292828;
    background-color: #ffffff;
    border-radius: 40px 0 0 40px;
}

.columnaResaltada:last-child{
    color: #292828;
    background-color: #ffffff;
    border-radius: 0 40px 40px 0;
}


.headerResaltado{
    background-color: #596fec;
    font-size: 25px;
}


