body{
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #00d2ff 0%, #3a7bd5 100%);
}

.tabla{
    width: 700px;
    height: 350px;
    border-collapse: collapse;
    background-color: rgba(46, 46, 46, 0.952);
    border-radius: 40px 40px 0 0;
    font-family: monospace;
    box-shadow: 0 0 40px rgba(49, 49, 49, 0.932);
    color: #ffffffdc;
}

.thead{
    border-bottom: 2px solid #ececec85;
}

.tr-head{
    font-size: 20px;
}

.th-head:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #292828;
}

.tr-body{
    font-size: 15px;
    text-align: center;
}

.tr-body > td {
    border-bottom: 2px solid #ececec85;
    transition: font-size 0.3s, background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.tr-head > th:hover{
    color: #ffffff;
    background-color: #3a7bd5;
    transition: font-size 0.3s, background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.tr-head > th:hover:first-child{
    border-radius: 20px 0 0 0;
    background-color: #3a7bd5;
    transition: font-size 0.3s, background-color 0.3s, color 0.3s, border-radius 0.3s;
}

.tr-head > th:hover:last-child{
    border-radius: 0 40px 0 0;
    background-color: #3a7bd5;
    transition: font-size 0.3s, background-color 0.3s, color 0.3s;
}


.tbody tr:last-child td{
    border-bottom: none;
}

.tbody tr td:hover{
    cursor: pointer;
    background-color: #ffffff;
    color: #292828;
}

.columnaResaltada{
    color: #292828;
    background-color: #ffffff;
    font-size: 20px;
}
.columnaResaltada:first-child{
    color: #292828;
    background-color: #ffffff;
}

.columnaResaltada:last-child{
    color: #292828;
    background-color: #ffffff;
}


.headerResaltado{
    background-color: #2e45c9;
    font-size: 25px;
}

.headerResaltado:first-child{
    border-radius: 40px 0 0 0;
}

.headerResaltado:last-child{
    border-radius: 0 40px 0 0;
}
button{
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0,0,0, .5);
    width: fit-content;
    padding: 10px;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;

    border: none;
    outline: none;

    cursor: pointer;
    
    color: #ffffff;
    background-color: #292828;
}

button:hover{
    background-color: #ffffff;
    color: #292828;
    transition: all 1s;
}